$primary-color: white;
$secondary-color: black;

$primary-text-color: rgb(65, 65, 65);
$secondary-text-color: rgb(0, 0, 0);

$primary-background-color: white;
$secondary-background-color: rgb(180, 180, 180);

$primary-icons-color: rgb(65, 65, 65);
$secondary-icons-color: rgb(0, 0, 0);
$icon_background-color: rgb(154, 152, 152);
